.body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background: url("/img/background.png") no-repeat 50% 50% fixed, linear-gradient(to bottom, #94514a, #59556d, #4d485c) fixed;
  background-size: auto 130%;
  font-family: Arial, sans-serif;
}
.button {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #bf6552;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
  line-height: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.2s;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #cd6e57;
  transition-duration: 0.2s;
}
.button_default {
  opacity: 0.6;
  cursor: default;
}
.button_default:hover {
  background-color: #bf6552;
  opacity: 0.6;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  animation: ripple 0.6s linear;
}
@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
.btn-type {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-size: auto 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.btn-type_edit {
  background-color: #479453;
  background-image: url("/img/icon-edit.png");
}
.btn-type_edit:hover {
  background-color: #62ac6d;
}
.btn-type_delete {
  background-color: #a73935;
  background-image: url("/img/icon-delete.png");
}
.btn-type_delete:hover {
  background-color: #c05855;
}
.btn-type_go {
  background-image: url("/img/icon-go.png");
}
.menu {
  margin: 0;
  padding: 0;
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav_h {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 45px;
  margin: 0;
  padding: 0 10px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s;
}
.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
}
.nav-button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav-button_default {
  color: rgba(0, 0, 0, 0.35);
  cursor: auto;
}
.nav-button_default:hover {
  background-color: transparent;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text {
  line-height: 1.3;
  text-align: justify;
}
.text_paragraph {
  margin-top: 15px;
}
.text_paragraph:first-of-type {
  margin-top: 0;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 45px;
  background: rgba(190, 190, 190, 0.6);
}
.header-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
}
.header-nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.header-nav__item:hover {
  background: rgba(255, 255, 255, 0.5);
}
.area {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 45px);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-top: 80px;
  border-radius: 50%;
  background: #4d485c url("/img/logo.svg") no-repeat 50% 50%;
  background-size: 70% auto;
  color: grey;
}
.to-author {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  opacity: 0.2;
  transition-duration: 0.1s;
}
.to-author:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}
.to-author_vk {
  background: url("../img/icon-vk.png") no-repeat 100% 100%;
  background-size: 100%;
}
@media screen and (max-width: 600px) {
  .to-author {
    top: 3.33vw;
    left: 3.33vw;
    width: 10vw;
    height: 10vw;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-height: 100%;
  background: rgba(190, 190, 190, 0.4);
}
.main-block-about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}
.main-block-about__heading {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.main-block-about__content {
  display: block;
  margin-top: 20px;
}
.main-nav {
  display: block;
  width: 80%;
  margin-top: 30px;
}
.main-nav__content {
  width: 100%;
}
.main-nav__item {
  height: 40px;
  line-height: 40px;
  font-size: 1.2em;
}
.note-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(247, 247, 247, 0.8);
}
.note-block__heading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 30px;
  border-top-left-radius: 10px;
  background: rgba(12, 23, 80, 0.5);
  color: white;
  text-transform: uppercase;
}
.note-block__date {
  display: block;
  margin: 0 10px 0 auto;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
.note-block__description {
  display: block;
  padding: 20px 20px 10px;
  text-align: justify;
}
.note-block__href {
  width: 100px;
  margin: 5px 20px 15px auto;
}
.notes {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 850px;
  min-height: calc(100vh - 125px);
  margin: 30px auto;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(190, 190, 190, 0.4);
}
.notes__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  background: rgba(228, 228, 228, 0.8);
  font-size: 1.3em;
  text-transform: uppercase;
}
.notes__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 35px 20px;
}
