.body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background: url("/img/background.png") no-repeat 50% 50% fixed, linear-gradient(to bottom, #94514a, #59556d, #4d485c) fixed;
  background-size: auto 130%;
  font-family: Arial, sans-serif;
}
.button {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #bf6552;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
  line-height: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.2s;
  user-select: none;
  cursor: pointer;
}
.button:hover {
  background-color: #cd6e57;
  transition-duration: 0.2s;
}
.button_default {
  opacity: 0.6;
  cursor: default;
}
.button_default:hover {
  background-color: #bf6552;
  opacity: 0.6;
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  animation: ripple 0.6s linear;
}
@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
.btn-type {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-size: auto 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.btn-type_edit {
  background-color: #479453;
  background-image: url("/img/icon-edit.png");
}
.btn-type_edit:hover {
  background-color: #62ac6d;
}
.btn-type_delete {
  background-color: #a73935;
  background-image: url("/img/icon-delete.png");
}
.btn-type_delete:hover {
  background-color: #c05855;
}
.btn-type_go {
  background-image: url("/img/icon-go.png");
}
.menu {
  margin: 0;
  padding: 0;
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav_h {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 45px;
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition-duration: 0.2s;
}
.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
}
.nav-button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav-button_default {
  color: rgba(0, 0, 0, 0.35);
  cursor: auto;
}
.nav-button_default:hover {
  background-color: transparent;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text {
  line-height: 1.3;
  text-align: justify;
}
.text_paragraph {
  margin-top: 15px;
}
.text_paragraph:first-of-type {
  margin-top: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 45px;
  background: rgba(190, 190, 190, 0.6);
}
.header-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  margin-left: 130px;
}
.header-nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.header-nav__item:hover {
  background: rgba(255, 255, 255, 0.5);
}
.area {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-top: 80px;
  border-radius: 50%;
  background-color: #4d485c;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("/img/logo.svg");
  background-size: 70% auto;
  color: grey;
}
.logo_admin {
  width: 250px;
  height: 250px;
  background-image: url('/img/logo-gears.png');
}
.to-author {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  opacity: 0.2;
  transition-duration: 0.1s;
}
.to-author:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}
.to-author_vk {
  background: url("../img/icon-vk.png") no-repeat 100% 100%;
  background-size: 100%;
}
@media screen and (max-width: 600px) {
  .to-author {
    top: 3.33vw;
    left: 3.33vw;
    width: 10vw;
    height: 10vw;
  }
}
.to-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  box-sizing: border-box;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.2s;
}
.to-login:hover {
  border-color: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
}
.admin-add {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin: 10px;
  border: 3px solid #b9b3b7;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.admin-add__heading {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  background: #b9b3b7;
  font-size: 1.2em;
  color: white;
}
.admin-add__content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.admin-add__error {
  position: relative;
  display: block;
  margin: 10px 0 10px 150px;
  color: #9d0000;
}
.admin-add__success {
  position: relative;
  display: block;
  margin: 10px 0 10px 150px;
  color: #3a9500;
}
.admin-add__button {
  width: 150px;
  margin: 15px 5px 0 auto;
}
@media screen and (max-width: 540px) {
  .admin-notes-add {
    height: 180px;
  }
  .admin-notes-add__error {
    top: -30px;
    width: 150px;
    margin-left: 20px;
    font-size: 0.9em;
  }
}
.admin-notes-add-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px 10px;
  font-size: 1.2em;
}
.admin-notes-add-block__heading {
  display: flex;
  justify-content: flex-end;
  width: 170px;
  margin-right: 10px;
  margin-top: 5px;
}
.admin-notes-add-block__select {
  display: block;
  width: 250px;
  margin-top: 5px;
  font-size: 0.9em;
}
.admin-notes-add-block__button {
  margin-top: 5px;
}
@media screen and (max-width: 645px) {
  .admin-notes-add-block__heading {
    width: 150px;
    font-size: 0.9em;
  }
  .admin-notes-add-block__select {
    width: calc(100% - 160px);
    font-size: 0.8em;
  }
}
@media screen and (max-width: 440px) {
  .admin-notes-add-block__select {
    width: 100%;
  }
}
.admin-notes-add-note {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 15px 5px;
}
.admin-notes-add-note__heading {
  display: block;
  margin-top: 5px;
  margin-right: 10px;
}
.admin-notes-add-note__input {
  display: block;
  width: 60%;
  min-width: 100px;
  height: 30px;
  margin-top: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #bababa;
}
.admin-notes-add-note__input:focus {
  border-color: grey;
  outline: none;
}
.admin-notes-add-note__input_error {
  border-color: red;
}
.admin-notes-add-note__input_error:focus {
  border-color: red;
}
@media screen and (max-width: 540px) {
  .admin-notes-add-note__input {
    width: 100%;
  }
  .admin-notes-add-note__submit {
    width: 80px;
  }
}
.admin-notes-add-buttons {
  display: flex;
}
.admin-notes-add-buttons__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  outline: none;
  background: #9a9a9a;
  font-size: 13px;
  font-family: Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.admin-notes-add-buttons__element_size-md {
  width: 150px;
}
.admin-notes-add-buttons__element_size-lg {
  width: 200px;
}
.admin-notes-add-buttons__element_color-green {
  background: #4d912b;
}
.admin-notes-add-buttons__element_color-red {
  background: #a93d2f;
}
.admin-notes-add-buttons__element_margin-0 {
  margin-right: 0;
}
.admin-notes-add-buttons__element:not(:first-of-type) {
  margin-left: 10px;
}
.admin-add-element {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.admin-add-element__label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  margin-right: 15px;
}
.admin-add-element__input {
  display: block;
  width: 75%;
  height: 25px;
  padding-left: 10px;
}
.admin-notes-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.admin-notes-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #cbcbcb;
}
.admin-notes-heading__title {
  display: block;
  margin-left: 10px;
  font-size: 1.2em;
}
.admin-notes-heading__title_admin {
  color: grey;
}
.admin-notes-heading__edit {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 5px;
  background: #678b4a url("/img/icon-edit.png") 50% 50% no-repeat;
  background-size: 80% 80%;
}
.admin-notes-heading__delete {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  background: #b96d6a url("/img/icon-delete.png") 50% 50% no-repeat;
  background-size: 60% 60%;
}
.admin-area-notes-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #cbcbcb;
  font-size: 1.2em;
}
.admin-area-notes-title__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #cbcbcb;
}
.admin-area-notes-title__content {
  display: flex;
  align-items: center;
  width: calc(100% - 130px);
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #f7f7f7;
  color: grey;
}
.admin-notes-edit {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 3px solid #cbcbcb;
  background: #f7f7f7;
}
.admin-notes-edit__content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
@media screen and (max-width: 540px) {
  .admin-notes-edit-block {
    height: 150px;
  }
}
.admin-notes-edit-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #cbcbcb;
  font-size: 1.2em;
}
.admin-notes-edit-title_tags {
  justify-content: center;
}
.admin-notes-edit-title-order {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.admin-notes-edit-title-order__heading {
  display: block;
  width: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.admin-notes-edit-title-order__input {
  display: block;
  width: 55px;
  padding-left: 5px;
  box-sizing: border-box;
}
.admin-notes-edit-title__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding-right: 50px;
}
.admin-notes-edit-title__heading_tags {
  width: 100%;
  padding-right: 0;
  text-align: center;
}
.admin-notes-edit-title__delete {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 5px;
  background: #8c8c8c url("/img/icon-delete.png") 50% 50% no-repeat;
  background-size: 60% 60%;
}
.admin-notes-edit-element {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.admin-notes-edit-element__heading {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  margin-right: 10px;
  padding-top: 6px;
}
.admin-notes-edit-element__heading_tags {
  width: 0;
}
.admin-notes-edit-element__input {
  display: block;
  max-width: calc(100% - 110px);
  min-width: calc(100% - 110px);
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 0.9em;
}
.admin-notes-edit-element__input_textarea {
  min-height: 100px;
  padding-top: 5px;
  font-size: 1.1em;
}
.admin-notes-edit-element__input_code {
  font-family: monospace, monospace;
  font-size: 15px;
  word-break: break-all;
}
.admin-notes-edit-element__input_selector {
  min-width: 200px;
  max-width: 200px;
}
.admin-notes-edit-element__input_file {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  padding: 0;
}
.admin-notes-edit-element__input_tags {
  min-width: 100%;
  max-width: 100%;
}
.admin-user__delete {
  margin-left: auto;
}
.admin-area {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  width: 100%;
  min-height: 70vh;
  margin: 30px auto 30px;
  background: #e9e9e9;
}
.admin-area__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #cbcbcb;
  font-size: 1.5em;
}
.admin-area__content {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px;
  padding: 0 10px;
}
@media screen and (max-width: 315px) {
  .admin-area-notes__heading {
    font-size: 1.2em;
  }
}
.login-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 350px;
  border-top-left-radius: 10px;
  background: rgba(247, 247, 247, 0.8);
}
.login-block__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  border-top-left-radius: 10px;
  background: rgba(12, 23, 80, 0.5);
  color: white;
}
.login-block__element {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 5px;
}
.login-block__label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  margin-right: 15px;
}
.login-block__input {
  display: flex;
  align-items: center;
  width: 220px;
  box-sizing: border-box;
}
.login-block__error {
  margin: 5px 20px;
  color: #b40000;
}
.login-block__submit {
  margin: 5px 5px 10px;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(58, 58, 58, 0.7);
}
.login__back {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 35px;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.2s;
}
.login__back:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0);
  color: #ffffff;
  transition-duration: 0.2s;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__to-login {
  position: absolute;
  top: 20px;
  right: 30px;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.main__to-login:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0);
}
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-height: 100vh;
  background: rgba(190, 190, 190, 0.4);
}
.main-block-about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}
.main-block-about__heading {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.main-block-about__content {
  display: block;
  margin-top: 20px;
}
.main-nav {
  display: block;
  width: 80%;
  margin-top: 30px;
}
.main-nav__content {
  width: 100%;
}
.main-nav__item {
  height: 40px;
  line-height: 40px;
  font-size: 1.2em;
}
.note-code {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-left: 5px solid rgba(12, 23, 80, 0.5);
  background: #ffffff;
}
.note-code__heading {
  display: block;
  padding: 10px 5px 5px 15px;
  background: rgba(12, 23, 80, 0.5);
  color: white;
}
.note-code__content {
  padding: 10px 10px 10px 25px;
  font-family: monospace, monospace;
  word-break: break-all;
}
.note-important {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 2px solid white;
}
.note-important_neutral {
  border-color: #8b80af;
}
.note-important_error {
  border-color: rgba(238, 72, 71, 0.8);
}
.note-important_interesting {
  border-color: #5fb462;
}
.note-important__icon {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: -10px 15px 5px -10px;
  padding: 10px;
  border-bottom-right-radius: 5px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70% auto;
}
.note-important__icon_neutral {
  background-color: #8b80af;
  background-image: url("/img/icon-book.png");
}
.note-important__icon_error {
  background-color: rgba(238, 72, 71, 0.8);
  background-image: url("/img/icon-d'exclamaton.png");
}
.note-important__icon_interesting {
  background-color: #5fb462;
  background-image: url("/img/icon-wiki.png");
}
.note-literature {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-top: 1.5px dashed #bababa;
  font-size: 0.9em;
}
.note-literature__heading {
  display: block;
  margin: 10px auto 0;
  padding-top: 5px;
  font-weight: bold;
}
.note-literature__content {
  display: block;
  box-sizing: border-box;
  padding: 0 10px 10px 30px;
}
.note-picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.note-picture__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  font-size: 0.9em;
  color: grey;
}
.note-picture__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}
.note-picture__content_edit {
  margin-bottom: 10px;
}
.note-task {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(12, 23, 80, 0.5);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.note-task__heading {
  display: block;
  padding: 10px 5px 5px 15px;
  background: rgba(12, 23, 80, 0.5);
  color: white;
}
.note-task__content {
  display: block;
  padding: 10px;
}
.note-text {
  display: block;
  width: 100%;
}
.note-text__heading {
  margin: 0 0 20px 20px;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}
.note-text__content {
  text-indent: 20px;
}
.note-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(247, 247, 247, 0.8);
}
.note-block__element {
  margin-bottom: 25px;
}
.note-block__element:last-child {
  margin-bottom: 0;
}
.note-block__heading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 30px;
  border-top-left-radius: 10px;
  background: rgba(12, 23, 80, 0.5);
  color: white;
  text-transform: uppercase;
}
.note-block__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 20px;
}
.note-block__date {
  display: block;
  margin: 0 10px 0 auto;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.7);
}
.note-block__description {
  display: block;
  margin: 20px 0 20px;
  text-align: justify;
}
.note-block-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 10px;
  border-radius: 5px;
  background: #d2d2d2;
  font-size: 0.9em;
}
.note-block-tags__element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 10px 5px 0;
  padding: 0 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  background: grey;
  font-family: Arial, sans-serif;
  font-size: 1.03em;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.note-block-tags__element_selected {
  background: #ad8581;
}
.note-block__href {
  width: 100px;
  margin: 10px 0 0 auto;
}
.notes-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background: lightgrey;
}
.notes-sort__heading {
  display: flex;
  justify-content: center;
  padding: 9px 10px 0;
}
.notes-sort__selected {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}
.notes-sort-select {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}
.notes-sort-select__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 0 10px;
}
.notes-sort-select__content {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}
.notes-sort-select__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  box-sizing: border-box;
  margin: 5px 10px 0 0;
  padding: 0 10px;
  border-radius: 5px;
  background: #bebebe;
  color: black;
  text-decoration: none;
}
.notes-sort-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 0 5px 0 10px;
  border-radius: 17px;
  background: #a9a9a9;
}
.notes-sort-tag__text {
  margin: 0 10px 0 5px;
}
.notes-sort-tag__delete {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;
  border-radius: 50%;
  background-color: grey;
  background-image: url("/img/icon-delete.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% auto;
}
.notes {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 850px;
  width: 100vh;
  min-height: calc(100vh - 125px);
  margin: 30px auto;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgba(190, 190, 190, 0.7);
}
.notes_show {
  background: #f3f3f3;
}
.notes__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  background: rgba(121, 126, 151, 0.8);
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
}
.notes__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 35px 20px;
}
.notes__element {
  margin-bottom: 25px;
}
.notes__element:last-child {
  margin-bottom: 0;
}
