body,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
}
.area {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}
.button {
  padding: 0;
  background: #c7c7c7;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}
.menu .menu__item {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
}
.text {
  line-height: 1.3;
  text-align: justify;
}
.text_paragraph {
  margin-top: 15px;
}
.text_paragraph:first-of-type {
  margin-top: 0;
}
.text_math-text {
  font-style: italic;
}
.admin-notes-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.admin-notes-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 10px 20px;
  padding: 10px;
  box-sizing: border-box;
  background: #cbcbcb;
}
.admin-notes-heading__title {
  display: block;
  margin-left: 10px;
  font-size: 1.2em;
}
.admin-notes-heading__edit {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 5px;
  background: #678b4a url("/img/icon-edit.png") 50% 50% no-repeat;
  background-size: 80% 80%;
}
.admin-notes-heading__delete {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  background: #b96d6a url("/img/icon-delete.png") 50% 50% no-repeat;
  background-size: 60% 60%;
}
.admin-notes-add {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 10px;
  border: 3px solid white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.admin-notes-add__heading {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  background: white;
  font-size: 1.2em;
  color: grey;
}
.admin-notes-add__error {
  position: relative;
  display: block;
  margin-left: 100px;
  color: red;
}
@media screen and (max-width: 540px) {
  .admin-notes-add {
    height: 180px;
  }
  .admin-notes-add__error {
    top: -30px;
    width: 150px;
    margin-left: 20px;
    font-size: 0.9em;
  }
}
.admin-notes-add-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px 5px;
}
.admin-notes-add-field__heading {
  display: block;
  margin-top: 5px;
  margin-right: 10px;
}
.admin-notes-add-field__input {
  display: block;
  width: 60%;
  min-width: 100px;
  height: 30px;
  margin-top: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #bababa;
}
.admin-notes-add-field__input:focus {
  border-color: #50bf38;
  outline: none;
}
.admin-notes-add-field__input_error {
  border-color: red;
}
.admin-notes-add-field__input_error:focus {
  border-color: red;
}
.admin-notes-add-field__submit {
  display: block;
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-left: auto;
  box-sizing: border-box;
  border: 2px solid #8c8c8c;
  border-bottom-right-radius: 5px;
  background: #9a9a9a;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 540px) {
  .admin-notes-add-field__input {
    width: 100%;
  }
  .admin-notes-add-field__submit {
    width: 80px;
  }
}
.admin-area-notes {
  display: flex;
  flex-direction: column;
  width: 850px;
  height: calc(100vh - 80px);
  margin: 50px auto 30px;
  background: #e9e9e9;
}
.admin-area-notes__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background: #cbcbcb;
  font-size: 1.5em;
}
.admin-area-notes__content {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px;
  padding: 0 10px;
}
@media screen and (max-width: 315px) {
  .admin-area-notes__heading {
    font-size: 1.2em;
  }
}
.main-area {
  justify-content: center;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-height: 100%;
  background: #e9e9e9;
}
.main-block-about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main-block-about__heading {
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.main-block-about__content {
  display: block;
  margin-top: 20px;
}
.main-block__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  margin-top: 80px;
  background: lightgrey;
  border-radius: 50%;
  color: grey;
}
.main-block-nav {
  display: block;
  width: 80%;
  height: 80px;
  margin-top: 50px;
}
.main-block-nav__item {
  display: block;
  width: 100%;
}
.notes-block {
  display: flex;
  flex-direction: column;
  width: 850px;
  min-height: 50vh;
  margin: 50px 0;
  background: #e9e9e9;
}
.notes-block__heading {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px 10px 10px 50px;
  background: #cbcbcb;
  text-transform: uppercase;
}
.notes-block-content {
  display: flex;
  flex-direction: column;
  min-height: 20px;
  margin: 30px 20px 40px;
  padding: 5px;
  font-size: 18px;
}
.notes-block__element {
  margin-bottom: 25px;
}
.notes-block__element:last-child {
  margin-bottom: 0;
}
.notes-block-code {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-left: 5px solid #ababab;
  background: #f9f9f9;
  font-family: Courier, monospace;
  font-size: 14px;
}
.notes-block-code__heading {
  display: block;
  padding: 10px 5px 5px 15px;
  background: #ababab;
  font-size: 0.9em;
  color: white;
}
.notes-block-code__content {
  padding: 10px 10px 10px 25px;
}
.notes-block-formula {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes-block-formula__content {
  display: block;
  margin: auto;
  font-size: 1.1em;
}
.notes-block-formula__number {
  color: #696969;
}
.notes-block-important {
  display: block;
  padding: 10px;
  border: 2px solid #ffffff;
}
.notes-block-important__icon {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin: -10px 15px 5px -10px;
  background: #ffffff;
}
.notes-block-literature {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-top: 1.5px dashed #bababa;
  font-size: 0.9em;
}
.notes-block-literature__heading {
  display: block;
  margin: 10px auto 5px;
  font-weight: bold;
}
.notes-block-literature__content {
  display: block;
  padding: 5px 10px 10px 30px;
  box-sizing: border-box;
}
.notes-block-picture {
  display: flex;
  flex-direction: column;
}
.notes-block-picture__image {
  max-width: 700px;
}
.notes-block-picture__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  font-size: 0.9em;
  color: #696969;
}
.notes-block-task {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid #ababab;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
.notes-block-task__heading {
  display: block;
  padding: 10px 5px 5px 15px;
  background: #ababab;
  color: white;
}
.notes-block-task__content {
  display: block;
  padding: 10px;
}
.notes-block-text {
  display: block;
}
.notes-block-text__heading {
  margin: 0 0 30px 20px;
  font-weight: bold;
}
.notes-block-text__content {
  text-indent: 20px;
}
.notes-block-create {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #ababab;
  border-bottom-right-radius: 10px;
  font-size: 0.9em;
}
.notes-block-create__heading {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  background: #ababab;
  color: white;
  text-transform: uppercase;
}
.notes-block-create__textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
}
.notes-block-add {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border: 4px solid white;
  border-radius: 10px;
}
.notes-block-add__icon {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url("/img/icon-pluse.png") no-repeat;
  background-size: 100% auto;
}
.notes-block-add__select {
  display: block;
  width: 200px;
  height: 30px;
  margin-right: 10px;
}
.notes-block-add__button {
  display: block;
  width: 100px;
  height: 30px;
}
.notes-block-create-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.notes-block-create-content__area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.notes-block-create-content__area:last-child {
  margin-bottom: 0;
}
.notes-block-create-content__label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100px;
  margin-right: 10px;
}
.notes-block-create-content__field {
  display: block;
  width: calc(100% - 150px);
}
.notes-block-create-order {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.notes-block-create-order__label {
  display: block;
  text-transform: none;
}
.notes-block-create-order__input {
  display: block;
  width: 50px;
  margin-left: 5px;
}
